@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --primary-color: #4c8baf;
  --secondary-color: #e6daba;
  --text-color: #2b4955;
  --dark-mode-background: #2E2E2E;
  --dark-mode-text: #8a87b8;
  --dark-mode-primary: #81C784;
  --background-color: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: url('/images/3OIP.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
}



/* Modificar el tamaño de fondo a un tamaño específico */
.elemento {
  background-image: url('3OIP.jpg');
  background-size: 200px 100px; /* Tamaño específico en píxeles */
}




headers {
  display: flex;
  justify-content: space-between;
  background-color: #84c9df;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

header {
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  background-color: #faf8f8;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}


h1 {
  font-size: 3.0rem;
  color: #0a0a0a;
  margin-bottom: 0;
}

h2 {
  text-align: center;
  font-size: 1.8rem;
  color: #0f4057;
  margin-top: 10px;
}

h3, h4 {
  font-size: 1.5rem;
  color: var(--text-color);
  margin: 10px 0;
}

.app {
  padding: 20px;
  max-width: auto;
  margin: 0 auto;
  text-align: center;
  background-color: #f5f5f8;
  color: #141313;
  box-sizing: border-box;
  transition: background-color 0.3s, color 0.3s;
}

@media (max-width: 768px) {
  .app {
    padding: 15px;
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .app {
    padding: 10px;
    text-align: left;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .app {
    padding: 20px;
  }
}

button {
  background-color: #2421c7;
  color: #b349c9;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #b0c45a;
}

.delete-button {
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.delete-button:hover {
  background-color: darkred;
}

.table-container,
.result-table,
.estadisticas-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 15px;
  text-align: left;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

table th,
table td {
  padding: 12px 12px;
}

table th {
  background-color: var(--primary-color);
  color: #0e0b0b;
}

table tr:nth-child(even) {
  background-color: var(--background-color);
}

table tr:hover {
  background-color: var(--secondary-color);
  color: #ffffff;
}

.mode-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  background-color: white;
  color: white;
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.mode-toggle:hover {
  background-color: var(--secondary-color);
}

.slider-container input[type="range"]::-webkit-slider-thumb,
.slider-container input[type="range"]::-moz-range-thumb,
.slider-container input[type="range"]::-ms-thumb {
  width: 25px;
  height: 25px;
  background: var(--primary-color);
  cursor: pointer;
  border-radius: 50%;
}

.slider-container {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  align-items: center;
}

.slider-container input[type="range"] {
  width: 80%;
  height: 10px;
  background: #1a1414;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0;
}

/* App.css */

/* Estilo general para los contenedores de gráficos */
.charts {
  display: flex;
  justify-content: space-around;
  
  margin: 20px 0;
}

/* Cada contenedor de gráfico */
.charts  div {
  width: 45%;
  min-width: 300px;
  margin: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Ajustes para los gráficos */
.charts canvas {
  max-width: 100%;

}

/* Etiquetas de los gráficos */
.chart-labels {
  font-size: 0.9rem;
  color: #666;
  margin-top: 5px;
}

.chart-title {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
}

.button-group,
.input-row {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
}

.add-row,
.generate-table,
.remove-row {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.add-row:hover,
.generate-table:hover,
.remove-row:hover {
  background-color: var(--secondary-color);
  transform: scale(1.05);
}

.input-section,
.table-container,
.resultados-container,
.pregunta-container,
.game-container {
  margin-bottom: 30px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-row input {
  width: 250px;
  margin-right: 10px;
}

.input-row button {
  background-color: #ff4d4d;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.input-row button:hover {
  background-color: #ff6666;
  transform: scale(1.05);
}

.resultado-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #83b0f3;
  padding: 8px;
  min-width: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-basis: calc(27% - 32px);
  transition: background-color 0.3s, transform 0.3s;
  background-color: #c6d8d8;
  text-align: left;
  cursor: pointer;
  margin: 5px 0;
}

.resultado-item:hover {
  background-color: var(--secondary-color);
  color: #835ccc;
  transform: scale(1.05);
}

.resultado-item .titulo {
  font-weight: bold;
  margin-bottom: 4px;
}

.resultado-item .valor {
  text-align: right;
}

.stat-question-section input {
  padding: 10px;
  margin-right: 10px;
}




/* Contenedor del botón para calcular pregunta estadística avanzada */
.calcular-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.calcular-button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}



.resultado-item .titulo {
  font-weight: bold;
  margin-bottom: 4px;
}

.resultado-item .valor {
  text-align: right;
}





.stat-question-section input {
  padding: 10px;
  margin-right: 10px;
}

/* Estilo para el contenedor del título */
.title-container {
  background-color: #f8f9fa;
  padding: 20px;
  border-bottom: 2px solid #007bff;
  display: flex;
  align-items: safe;
  justify-content: center; /* Centra el contenido */
}

/* Estilo para la imagen */
.title-container .title-image {
  max-width: 230px; /* Ajusta el tamaño según sea necesario */
  margin-right: 80px; /* Espacio entre la imagen y el texto del título */
}

/* Estilo para el texto del título */
.title-text {
  flex: 1;
}

/* Estilo para los botones del menú */
.icon-button {
  display: inline-block;
  margin: 10px;
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.icon-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.icon-button .menu-icon {
  width: 20px;
  height: 20px;
  background: url('/path/to/your/icon.svg') no-repeat center center;
  background-size: contain;
}




.card {
  background-color: #f8f9fa;
  border: 1px solid #e9ecef;
  border-radius: 0.375rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  padding: 1rem;
  margin: 1rem 0;
  transition: box-shadow 0.3s, transform 0.3s;
}

.card:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: scale(1.03);
}

.dark-mode {
  background-color: var(--dark-mode-background);
  color: var(--dark-mode-text);
}

.dark-mode header,
.dark-mode .app,
.dark-mode .input-section,
.dark-mode .table-container,
.dark-mode .resultados-container,
.dark-mode .pregunta-container,
.dark-mode .game-container {
  background-color: var(--dark-mode-background);
  color: var(--dark-mode-text);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.dark-mode table th {
  background-color: var(--dark-mode-primary);
  color: white;
}

.dark-mode table tr:nth-child(even) {
  background-color: #555;
}

.dark-mode table tr:hover {
  background-color: #444;
}

.dark-mode .resultado-item {
  background-color: #444;
}

.pdf-history-section {
  margin-top: 20px;
}

.pdf-history-section ul {
  list-style-type: none;
  padding: 0;
}

.pdf-history-section li {
  margin-bottom: 10px;
}






/* Estilo para el menú de navegación */
.navbar {
  width: 100%;
  background-color: #f8f9fa;
  padding: 10px 0;
  text-align: center; /* Centra el contenido del nav */
  margin-top: 8px; /* Pequeña separación entre el contenedor de título y el menú */
}

.navbar ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center; /* Centra el contenido del menú */
  gap: 10px; /* Espacio entre los elementos del menú */
  margin: 0;
}

.navbar li {
  display: inline;
}

.navbar li a {
  color: black;
  text-decoration: none;
  padding: 10px 15px;
  background-color: #e9ecef;
  border-radius: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar li a:hover {
  background-color: #007bff;
  color: white;
}






/* Contenedor del Navegador */
nav {
  background-color: #1a1a1a; /* Fondo oscuro para contraste */
  color: #f5f5f5; /* Color de texto claro para mejor legibilidad */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

nav:hover {
  background-color: #333333; /* Cambio de color al pasar el mouse */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Logo o Título */
nav .logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  transition: color 0.3s;
}

nav .logo:hover {
  color: #ff8c00; /* Color de acento en hover */
}

/* Enlaces de Navegación */
nav .nav-links {
  display: flex;
  gap: 20px;
}

nav .nav-links a {
  color: #f5f5f5;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

nav .nav-links a:hover {
  background-color: #ff8c00; /* Fondo de acento en hover */
  color: #ffffff; /* Color de texto en hover */
}

/* Botones de Acción */
nav .nav-buttons {
  display: flex;
  gap: 15px;
}

nav .nav-buttons button {
  background-color: #007bff; /* Fondo azul para botones */
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s, transform 0.3s;
}

nav .nav-buttons button:hover {
  background-color: #0056b3; /* Fondo azul oscuro en hover */
  transform: scale(1.05); /* Escala ligera en hover */
}

/* Estilos Responsivos */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  nav .nav-links {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  nav .nav-buttons {
    margin-top: 10px;
  }
}
